header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 80px;
}

header .content-header {
  background-color: var(--glass-color);
  border: var(--glass-border);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 95%;
  border-radius: 10px;
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .content-header .nav-bar ul {
  display: flex;
  gap: 1rem;
}

header .content-header .nav-bar ul li {
  list-style: none;
}

header .content-header .nav-bar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

header .content-header .nav-bar ul li a:hover {
  color: var(--orange-600);
}

header .content-header .container-buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#button-entrar,
#button-cadastrar {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#button-entrar:active,
#button-cadastrar:active {
  transform: scale(0.98);
}

#button-entrar:hover,
#button-cadastrar:hover {
  /* Adiciona estilos ao hover se quiser, como: */
  /* background-color: var(--orange-600); */
}
